.calibre {
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre1 {
  display: block;
  font-size: 1em;
  margin: 0 5pt;
  padding: 0;
  border: currentColor none 0;
}
.calibre2 {
  display: block;
  text-align: center;
}
.calibre3 {
  height: auto;
  width: auto;
}
.calibre4 {
  display: block;
}
.calibre5 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre6 {
  font-size: 1.125em;
  line-height: 1.2;
}
.calibre7 {
  font-size: 0.75em;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre10 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.calibre11 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre12 {
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre13 {
  display: block;
  text-indent: 2em;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre14 {
  display: block;
  text-indent: 2em;
  margin: 0.5em 0 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre15 {
  height: 276px;
  width: 450px;
}
.calibre16 {
  display: block;
  font-size: 0.75em;
  line-height: 1.2;
  text-align: center;
  text-indent: 2em;
  margin: 0;
  padding: 0;
  border: currentColor none 0;
}
.calibre17 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre18 {
  font-style: italic;
}
.calibre19 {
  height: 540px;
  width: 330px;
}
.calibre20 {
  height: 309px;
  width: 450px;
}
.calibre21 {
  height: 270px;
  width: 450px;
}
.calibre22 {
  height: 550px;
  width: 141px;
}
.calibre23 {
  height: 390px;
  width: 290px;
}
.calibre24 {
  height: 303px;
  width: 260px;
}
.calibre25 {
  height: 300px;
  width: 450px;
}
.calibre26 {
  height: 267px;
  width: 450px;
}
.calibre27 {
  height: 550px;
  width: 414px;
}
.calibre28 {
  height: 287px;
  width: 430px;
}
.calibre29 {
  height: 550px;
  width: 354px;
}
.calibre30 {
  height: 550px;
  width: 350px;
}
.calibre31 {
  height: 550px;
  width: 374px;
}
.calibre32 {
  height: 550px;
  width: 377px;
}
.calibre33 {
  height: 550px;
  width: 370px;
}
.calibre34 {
  height: 323px;
  width: 450px;
}
.calibre35 {
  height: 550px;
  width: 398px;
}
.calibre36 {
  height: 550px;
  width: 262px;
}
.calibre37 {
  height: 224px;
  width: 450px;
}
.calibre38 {
  height: 550px;
  width: 356px;
}
.calibre39 {
  height: 550px;
  width: 380px;
}
.calibre40 {
  height: 550px;
  width: 363px;
}
